<div class="mt-5"></div>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
  <p class="mt-5">通知はありません</p>
<% end %>