    <section class="container" style="background: #f4f8fa;">
      <form>
        <div class="form-group w-50 py-3">
          <label for="exampleFormControlInput1" style="font-weight: bold;">名前</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="20文字以内">
        </div>
        <div class="form-group w-50 my-3">
          <label for="exampleFormControlInput1" style="font-weight: bold;">メールアドレス</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group w-50 py-3">
          <label for="exampleFormControlTextarea1" style="font-weight: bold;">お問い合わせ内容</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="400字以内"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-info px-4 my-3 w-50">確認画面へ</button>
    </section>