  <section class="container my-5" style="background: #f4f8fa;">
    <a href="#request">依頼をする</a>
    <a href="#proposal">依頼を受ける</a>
    
    <div class="my-5">
      <h2 class="mt-5 text-info" id="request">依頼をする</h2>
      <p>①ヘッダー内の「依頼を投稿する」を押します。</p>
      <img src= "/assets/guide_img/guide1.png" class="w-100">
      <p class="mt-3"><br>②依頼のタイトル・予算・依頼の詳細を入力して「依頼を投稿する」ボタンを押します。
      <br>※ここでの予算は最終的な金額ではない為、おおよそで構いません。上記を行うと、依頼の一覧画面に表示されるようになります。</p>
      <img src= "/assets/guide_img/guide2.png" class="w-100">
      <p class="mt-3"><br>③提案が来ると該当の依頼から提案内容の詳細を確認する事ができ、気になる提案があれば、個別にメッセージをやり取りする事ができます。
      <br>※この段階で成約する訳ではありません。</p>
      <img src= "/assets/guide_img/guide4.png" class="w-100">
      <p class="mt-3"><br>④メッセージを送るボタンを押すと個別メッセージが開設されます。</p>
      <img src= "/assets/guide_img/guide5.png" class="w-100">
      <p><br>⑤メッセージで詳細を擦り合わせた後、「確定依頼」を送信します。確定依頼で出した金額が最終金額になる為、しっかりと金額を確認した上で送信してください。相手が承諾すると決済が行われます。</p>
      <p class="mt-3">※同一の依頼に対して複数の提案があった場合、やり取りは複数人と行う事ができますが、確定依頼は1人だけにしか送信できません。相手から差し戻しがあった場合。別の提案者に確定依頼を出すことは可能です。</p>
      <img src= "/assets/guide_img/guide6.png" class="w-100">
      <p class="mt-3"><br>⑥相手が承認すると取引が成立し登録されているクレジットカードから引き落としが実行されます。※ここではまだ提案者に支払いは行われません。
      <br>相手が提案内容を実行完了すると、正しく行われたかどうか確認の依頼が届きます。確認ボタンを押すと取引は完了となり、相手に報酬が支払われます。</p>
      <img src= "/assets/guide_img/guide7.png" class="w-100">
    </div>
    
    <div class="my-5">
      <h2 class="mt-5 text-info" id="proposal">依頼を受ける</h2>
      <p>①依頼の一覧から依頼の詳細を確認し、提案ボタンを押します。</p>
      <img src= "/assets/guide_img/guide8.png" class="w-100">
      <p class="mt-3"><br>②予算と提案内容の詳細を入力し、提案ボタンを押します。
      <br>提案内容は変更できず、1度しか送付できません。</p>
      <img src= "/assets/guide_img/guide9.png" class="w-100">    
      <p class="mt-3"><br>③依頼者が提案内容に興味を持つと、個別のメッセージが送付されてきますので、条件の詳細をメッセージで擦り合わせてください。</p>
      <img src= "/assets/guide_img/guide10.png" class="w-100">  
      <p class="mt-3"><br>④お互いの条件が固まったら、依頼者から「確定依頼」が届きます。確定依頼の金額は提案内容の実行後に支払われる金額になりますので、しっかりと確認してください。
      相手の提示金額に問題ないようであれば、「承諾する」、まだ擦り合わせが必要な場合には「差し戻す」を押してください。承諾すると取引が成立します。
      <br>※この段階では、まだ報酬は支払われません。</p>
      <img src= "/assets/guide_img/guide11.png" class="w-100"> 
      <p class="mt-3"><br>⑤承諾をすると、メッセージの上部に「完了」のボタンが現れます。提案内容を実行完了したら、完了ボタンを押してください。
      <br>依頼者に確認依頼が送信され、依頼者が確認のボタンを押すと取引が完了し、報酬が支払われます。</p>
      <img src= "/assets/guide_img/guide12.png" class="w-100"> 
    </div>
  </section>