 <section class="container" style="background: #f4f8fa;">
      <h2 class="text-center py-5" style="font-weight: bold;">特定商取引に基づく表記</h2>
      <div class="article">
        <h3 class="title">サイト代表者名</h3>
        <p>中川 知久</p>
      </div>
      <div class="article">
        <h3 class="title">販売価格</h3>
        <p>依頼者が提示するプランごとに表示された金額と致します（表示価格は消費税込みの金額です）。</p>
      </div>
      <div class="article">
        <h3 class="title">商品価格以外に必要な料金</h3>
        <p>利用料金は無料ですが、依頼者は提案者から課金した売上の中から、所定の手数料（利用手数料＋決済手数料）および振込手数料として都度300円がかかります。</p>
        <table class="table w-75">
          <tbody>
            <tr>
              <th scope="row">1.</th>
              <td>100,000円以下の部分</td>
              <td>利用手数料15%+決済手数料5%=20%（税別）</td>
            </tr>
            <tr>
              <th scope="row">2.</th>
              <td>100,000円超〜200,000円以下の部分</td>
              <td>利用手数料5%+決済手数料5%=10%（税別）</td>
            </tr>
            <tr>
              <th scope="row">3.</th>
              <td>200,000円超の部分〜</td>
              <td>決済手数料5%=5%（税別）</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="article">
        <h3 class="title">支払い方法について</h3>
        <p>クレジットカード（VISA/MasterCard/American Express/Diners Club/JCB）でのお支払いが可能です。</p>
      </div>
      <div class="article">
        <h3 class="title">支払い時期</h3>
        <p>商品購入前</p>
      </div>
      <div class="article">
        <h3 class="title">商品の提供時期</h3>
        <p>依頼者および提供者が相談の上、決定</p>
      </div>
      <div class="article">
        <h3 class="title">キャンセル時の対応</h3>
        <p>基本的に契約後のキャンセルはできません。ただし、契約が締結されたにも関わらず、サービスが提供されない、連絡がとれない場合については依頼者がキャンセルリクエストを行うことができます。</p>
      </div>
      <div class="article">
        <h3 class="title">個人情報の取り扱いについて</h3>
        <p class="pb-3">個人情報の取扱いに関しては、<%= link_to "プライバシーポリシー", privacy_path %>をご参照ください。</p>
      </div>
    </section>