    <div class="container my-5"> 
      <h1 class="text-center mb-4">メッセージ一覧</h1>
      <table class="table table-bordered">
        <thead style="background: #17a2b8; color: white;">
          <tr>
            <th scope="col">アイコン/ユーザー名</a></th>              
            <th scope="col">依頼のタイトル</th>
            <th scope="col">最新日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td><a href="#">依頼のタイトルがここに入る</a></td>
            <td>送受信日時</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td><a href="#">依頼のタイトルがここに入る</a></td>
            <td>送受信日時</td>
          </tr>
          <tr>
            <td>larry</td>
            <td><a href="#">依頼のタイトルがここに入る</a></td>
            <td>送受信日時</td>
          </tr>
        </tbody>
      </table>
    </div>
