<div class="container my-5">
    <div class="text-center">
      <p>アイコン/ユーザー名</p>
      <h4>依頼のタイトル</h4>
    </div>
    <div class="my-3 py-2" style="border: solid 1px; border-radius: 8px;">
       <p class="text-left mb-0 px-2">初めまして</p>
       <p class="text-right mb-0 px-2">送信日時</p> 
    </div>
    <div class="my-3 py-2" style="border: solid 1px; border-radius: 8px;  background-color: #ccc;">
       <p class="text-left mb-0 px-2">初めまして</p>
       <p class="text-right mb-0 px-2">送信日時</p>
    </div>
</div>