/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.




@import "bootstrap";

// ===home/indexだけ適用されない===
h1 {
  font-size: 42px;
  font-weight: bold;
  color: #17a2b8;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width :1199px) {
  h1 {
    font-size: 24px;
  }
  h2 {
  font-size: 24px;
  }
  h3 {
  font-size: 20px;
  }
  
  .only {
    desplay: none;
  }
}

@media (max-width :767px) {
  .only {
    display: none;
  }
}

.article {
  padding: 1em 0;
}

.title {
  font-weight: bold;
}
// ================

.clear {
  clear: both;
}








main {
  min-height: calc(100vh - 120px);
  overflow: hidden;
}

.none {
  display: none!important;
}

.pagination {
  justify-content: center;
}


.time {
  font-size: 12px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.textOverflow{
	overflow: hidden;
    // line-height: 1.0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img {
    height: 125px;
    width: 125px;
}

.profile_image {
    border-radius: 50%;
}


// h1 {
//   font-size: 42px;
//   font-weight: bold;
// }

// h2 {
//   font-size: 30px;
// }

// h3 {
//   font-size: 24px;
// }

// @media screen and (max-width:1200px) {
//   h1 {
//     font-size: 30px;
//     font-weight: bold;  
//   }
// }

// .article {
//   padding: 1em 0;
// }

// .title {
//   font-weight: bold;
// }


// .clear {
//   clear: both;
// }