/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.

main {
  min-height: calc(100vh - 120px);
  overflow: hidden;
}

.none {
  display: none!important;
}

.pagination {
  justify-content: center;
}


.time {
  font-size: 12px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.textOverflow{
	overflow: hidden;
    // line-height: 1.0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@import "bootstrap";
.img {
    height: 125px;
    width: 125px;
}

.profile_image {
    border-radius: 50%;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #17a2b8;
}

@media screen and (max-width:1200px) {
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #17a2b8;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.article {
  padding: 1em 0;
}

.title {
  font-weight: bold;
}

.image {
  float: left;
}

.clear {
  clear: both;
}

// // ===== rooms ここから ====
// .table {
//   table-layout: fixed;
//   width: 100%;
// }

// .th1 {
//   width: 20%;
// }

// .th2 {
//   width: 50%;
// }

// .th3 {
//   width: 15%;
// }

// .text-item1 {
//   padding: 9px;
//   border-radius: 5px;
//   font-size: 12px;
//   border: 1px solid #ccc;
//   width: 100%;
//   max-width: 750px;
//   background-color: #f3f3f3;
//   float: right;
// }

// .text-item2 {
//   padding: 9px;
//   border-radius: 5px;
//   font-size: 12px;
//   border: 1px solid #ccc;
//   width: 100%;
//   max-width: 750px;
//   float: left;
// }

// .right {
//   float: right;
// }

// .message-alert {
//   height: 80px;
//   width: 100%;
//   background-color: #57C896;
// }

// #open {
//   width: 170px;
// }

// #open:hover {
//   cursor: pointer;
// }

// #close {
//   cursor: pointer;
//   width: 200px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   text-align: center;
//   padding: 12px;
//   margin: 16px auto 0;
//   background: #4caf50;
//   color: white;
// }

// #mask {
//   background: rgba(0, 0, 0, 0.4);
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   z-index: 1;
// }

// #modal {
//   background: #fff;
//   color: #555;
//   width: 700px;
//   padding: 40px;
//   border-radius: 4px;
//   position: absolute;
//   top: 40px;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   z-index: 2;
//   transition: 0.4s;
// }

// #modal p {
//   margin: 0 0 20px;
// }

// #mask.hidden {
//   display: none;
// }

// #modal.hidden {
//   transform: translate(0, -500px);
// }
// // ====rooms ここまで===