main {
  min-height: calc(100vh - 120px);
  overflow: hidden;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.textOverflow{
	overflow: hidden;
    // line-height: 1.0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@import "bootstrap";
.img {
    height: 125px;
    width: 125px;
}

.profile_image {
    border-radius: 50%;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #17a2b8;
}

@media screen and (max-width:1200px) {
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #17a2b8;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.article {
  padding: 1em 0;
}

.title {
  font-weight: bold;
}


// ===== room ここから ====
.table {
  table-layout: fixed;
  width: 100%;
}

.th1 {
  width: 20%;
}

.th2 {
  width: 50%;
}

.th3 {
  width: 15%;
}

.text-item1 {
  padding: 9px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 750px;
  background-color: #f3f3f3;
  float: right;
}

.text-item2 {
  padding: 9px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 750px;
  float: left;
}

.right {
  float: right;
}
// ====roomここまで===