// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-alert {
  height: 75px;
  background-color: #57C896;
  width: 100%;
}

.left {
  float: left;
  line-height: 50px;
}

.right {
  float: right;
  line-height: 50px;
}

.text-item1 {
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #ccc;    
  white-space: pre-wrap;
  word-break: break-all;
  width: 100%;
  max-width: 750px;
  padding: 9px;
  float: right;
}

.text-item2 {
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    word-break: break-all;
    width: 100%;
    max-width: 750px;
    padding: 9px;
    float: right;
}